.footer-contact-input{
  width: 250px;
  color: $white;
  text-align: center;
  background-color: $black;
  border: none;
  border-bottom: solid 2px $white;
  &::placeholder{
    font-size: 16px;
    color: $white;
  }
}

@media (max-width: $mq-min-width-md){
  .footer-navbar{
    flex-direction: column;
  }
    
}