
.img-top-news{
  min-height: 300px;
  object-fit: cover;
}

h1{
  font-size: calc(2rem + 1.5vw);
  -webkit-text-stroke: 2px $text;
}

.list-special-style{
  list-style: none;
  counter-reset: orderedlist;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  li{
    &::before {
      padding: 5px getDouble(5);
      margin-right: 8px;
      line-height: 4;
      text-align: center;
      content: counter(orderedlist);
      counter-increment: orderedlist;
      border: 3px solid $light-yellow;
      border-radius: 50%;
    }
  }
}


.table{
  border: 1px solid $black;

  tbody th, tbody td{
    width: 15%;
    padding: 10px 10px 10px 7px;
    font-size: 16px;
  }

  thead tr th{
    padding: 7px;
    font-size: 13px;
    border-collapse: collapse;
    border-bottom: 1px solid $black;
  }
  
  td:last-child{
    width: 30%;
  }
  
  tbody tr:nth-child(2n+1){
    background: $light-background;
  }

}

.table-caption{
  border: 1px solid $black;
}
